*{
    margin: 0px;
}

.abc8{
    margin: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 80px 1fr;
    height: 100vh;
}

#header8{
    background-color: #1c2333;
    grid-column: span 2;
    border: 0px;
}
.content18{
    /* padding: 20px; */
    text-align: center;
}
.title8 {
    font-size: 1rem;
    font-weight: 1000;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    margin-left: 10px;
    /* margin-bottom: 10px; */
}
.header-logo8 { 
    align-items: center;
    height: 80px;
    font-size: 40px;
    align-items: center;
    margin-left: 20px;
    padding-top: 0px;
    margin-bottom: auto;
    display: flex;
}
#sider8{
    background-color:#0f1726;
    border: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sider8 p{
    text-align: center;
}
.sider-slogan8{
    margin-top: 30%;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.sider-contents8{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sider-contents8 p{
    color: rgb(154, 170, 183);
    margin-top: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title8 {
    font-size: 1rem;
    font-weight: 1000;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    margin-left: 10px;
}
.create8{
    color: white;
    font-size: 25px;
    margin-top: 15%; 
}
.uiux{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* width: 25%; */
    box-sizing: border-box;
}

.z{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#body-content8 input{
    color: white;
    height: 40px;
    width: 250px;
    margin: 7px;
    background-color: #1c2333;
    box-sizing: border-box;
    border: 0.5px solid;
    border-color: rgb(6, 60, 107);
    border-radius: 5px;
    padding: 10px;
  
}
#suggestions8::-webkit-scrollbar {
    width: 12px;
  }
  
#suggestions8::-webkit-scrollbar-thumb {
    background-color: rgb(15, 83, 142);
    border-radius: 6px;
  }
  
#suggestions8::-webkit-scrollbar-track {
    background-color: #1c2333;
    border-radius: 8px;
}
#suggestions8{
    position: absolute;
    top: 48px;
    background-color: #1c2333;
    border: 1px solid #000000;
    border-radius: 8px;
    min-width: 250px;
    overflow-y: auto;
    z-index: 1000;
    cursor: default; 
}
/* #suggestions8 {
    display: block;
    position: absolute;
    margin-left: auto;
    background-color: #1c2333;
    border: 1px solid #000000;
    border-radius: 8px;
    max-height: 150px;
    width: 150;
    overflow-y: auto;
    z-index: 1000;
    cursor: default; 
} */
.suggestion8 {
    display: block;
    color: #f2f2f2;
    padding: 8px 12px;
    margin: 0;
    margin-top: 0;
    cursor: pointer; /* Set pointer cursor for suggestions */
  }

.suggestion8:hover {
    background-color: rgb(6, 60, 107);
    border-radius: 5px;
  }
#body-content8 button{
    background-color:#004182 ;
    height: 40px;
    width: 250px;
    margin: 7px;
    border: 1px;
    border-radius: 5px;
    font-size: 15px;
    color: #417ce1;
}
.sighnup8 p{
    color: rgb(134, 137, 137);
    font-size: 15px;
    text-align: center;
}

.sighnup8 a{
    text-decoration: none;
    color: #417ce1;
    margin-left: 5px;
}
#bodyy8{
    background-color: #0E1525;
}
hr {
    border: 1px solid  #1c2333;
    width: 45%;
    margin:auto;
}
.err1505 {
    color:  #f26207;
}
.terms8{
    text-align: center;
    color: rgb(134, 137, 137);
    font-size: 13px;
    margin-top: 110px;
}
.terms8 a{
    text-decoration: none;
    font-size: 13px;
    color: #417ce1;
}
.copyrights{
    margin-top: 12px;
    color:rgb(134, 137, 137);
    font-size: 13px;
    text-align: center;
}
@media(max-width:600px){
    .abc8{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr ;
    }
    #sider8{
        display:none;
}
}