*{
    margin: 0px;
}

::-webkit-scrollbar {
    width: 9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(4, 4, 5); 
    background:#0E1525;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  rgb(19, 51, 74); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #212f46; 
  }

.body19{
    margin: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 65px 1fr;
    height: 100vh;
    /* overflow-y: auto; */
    overflow: hidden;
}

#hhhhead{
    background-color: #1c2333 ;
    border: 0px;
    grid-column: span 2;
}

.logo1{
    font-size: 40px;
    /* margin-top: 16px; */
    margin-left: 9px;
}

.title1 {
    font-size: 1.15rem;
    font-weight: 1000;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    margin-left: 5px;
    /* margin-top: 28px; */
}

.logoset1{
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
}

.searchbarset1{
    height: 65px;
    /* width: 40%; */
    display: flex;
}

.profileset1{
    position: absolute;
    right: 0px;
    height: 100%;
}

.profileset1 p{
    text-align: right;
    margin-right: 10px;
    margin-top: 13px;
}

.headerset1 { 
    width: 100%;
    position: relative;
    height: 65px;
    font-size: 25px;
    align-items: center;
    display: flex;
}

.domain1 select{
    height: 35px;
    width: 125px;
    margin-top: 15px;
    margin-left: 0px;
    background-color: #21293b;
    box-sizing: border-box;
    border: 0.5px solid;
    border-color: rgb(4, 67, 112);
    border-right: #0E1525;
    padding: 2px;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #a6a5a5;
    outline: rgb(255, 255, 255);
}
.domain1 select:hover {
    border: 1px solid #7190c6;
}

.searchbar1 {
    width: 100%;
    display: flex;
}

.searchbar1 input{
    height: 35px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -5px;
    background-color: #21293b;
    box-sizing: border-box;
    border: 0.5px solid;
    border-color: rgb(4, 67, 112);
    padding: 10px;
    outline: rgb(255, 255, 255);
    color: #a6a5a5;
    border-radius: 0px;
}

.searchbar1 input:hover {
    border: 1px solid #7190c6; /* Add border on hover */
}

.search-icon1{
    /* margin-top: 15px; */
    font-size: 17px;
    height: 35px;
    width: 50px;
    border: 5px;
    border-color: aliceblue;
    background-color:rgb(4, 67, 112) ;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.ic{
    margin-right: 4px;
    margin-left:7px;
    margin-top:9px;
}

.search-icon1:hover {
    border: 1px solid #7190c6;
}

.suggestions::-webkit-scrollbar {
    width: 12px;
  }
  
.suggestions::-webkit-scrollbar-thumb {
    background-color: rgb(15, 83, 142);
    border-radius: 6px;
  }
  
.suggestions::-webkit-scrollbar-track {
    background-color: #1c2333;
    border-radius: 8px;
}
.suggestions{
    position: absolute;
    top: 31px;
    background-color: #1c2333;
    border-radius: 8px;
    min-width: 300px;
    overflow-y: auto;
    z-index: 1000;
    cursor: default; 
}
/* #suggestions8 {
    display: block;
    position: absolute;
    margin-left: auto;
    background-color: #1c2333;
    border: 1px solid #000000;
    border-radius: 8px;
    max-height: 150px;
    width: 150;
    overflow-y: auto;
    z-index: 1000;
    cursor: default; 
} */
.suggestion {
    display: block;
    color: #f2f2f2;
    padding: 8px 12px;
    margin: 0;
    margin-top: 0;
    cursor: pointer; /* Set pointer cursor for suggestions */
  }

.suggestion:hover {
    background-color: rgb(6, 60, 107);
    border-radius: 5px;
  }

.i{
    margin-top: 10px;
    margin-left: 8px;
    border: 5px;
}

.bodyy121{
    background-color: #0E1525;
    min-height: calc(100%-96px);
    height: auto;
    padding-top: 0px;
    overflow: scroll;
    position: relative;
}

.y{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* width: 25%; */
    box-sizing: border-box;
}
.filter1{
    padding: 0;
    margin-right: 5px;
    width: 100%;
}

.filters{
    width:70%;
    height: 30px;
    margin: auto;
    display: flex;
    position: relative;
    background-color:  #1c2333;
    border-radius: 9px;
    margin-bottom: 10px;

}
/* .filter1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

} */

.y,.filter2,.filter3,.filter4{
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0
}

.filter1 input{
    border-bottom-left-radius: 10px;
    text-align: center;
    width: 100px;
    border: none;
    height: 28px;
    background-color: #1c2333;
    color: #a3a2a2;
    outline: rgb(255, 255, 255);
    
}

.filter1 input::placeholder{
    text-align: center;
}

.filter4  button{
    border-bottom-right-radius: 10px;
}

.filters select,.y select{
    width: 100%;
    border: none;
    background-color: #1c2333;
    height: 100%;
    color: #a6a5a5;
    outline: rgb(255, 255, 255);
}

.filter4 button{
    width: 100%;
    border: none;
    background-color: #1c2333;
    height: 100%;
    color: #a6a5a5;
    outline: rgb(255, 255, 255);
}

.svg[data-icon="arrow-up"] path {
    fill: green;
  }

.filters select:hover, .filters input:hover, .filters button:hover {
    border: 1px solid #7190c6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/*.filter1 select{
    border-bottom-left-radius: 10px;
    width: 95%;
    border: none;
    height: 28px;
    background-color: #1c2333;
    color: #a3a2a2;
    outline: rgb(255, 255, 255);
    
}


.filter4  button{
    border-bottom-right-radius: 10px;
}

.filters select{
    width: 100%;
    border: none;
    background-color: #1c2333;
    height: 100%;
    color: #a6a5a5;
    outline: rgb(255, 255, 255);
}

.filter4 button{
    width: 100%;
    border: none;
    background-color: #1c2333;
    height: 100%;
    color: #a6a5a5;
    outline: rgb(255, 255, 255);
}


.filters select:hover, .filters input:hover, .filters button:hover {
    border: 1px solid #7190c6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}*/

/* .stage{
    padding: 30px;
    border: solid  #141e2f;
    height: calc(100% - 90px);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 7px;
    display: flex;
    margin-top: 5px;
} */
.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* Two columns */
    gap: 10px;  /* Spacing between grid items */
}
  
.grid-item1 {
        padding-right: 0px;
        margin-left: 20px;
        margin-right: 40px;
}
.project-card2{
    height: 200px;
    width: 100%;
    background-color: #141e2f;
    border-radius: 20px;  
    color:#a6a5a5;
    margin: 10px;
}

.cardpart2{
    display: flex;
}

.profile-picture2{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
    display: flex;
}

.pdiscript2{
    width: calc(100% - 140px);
    max-height: 135px;
    border-top-right-radius: 20px;
    overflow: hidden;
    padding: 10px;
    padding-left: 0px;
}

/* .row1{
    display: flex;
} */

.pname2 p{
    color: #cfcfcf;
    height: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* @media only screen and (max-width: 700px) {
    .row1 {
        flex-direction: column; 
    }

    .project-card {
        width: 100%; 
        margin: 10px 0; 
    }
} */

.prevbutton1, .nextbutton1{
    height: 40px;
    width: 50px;
    background-color:rgb(4, 67, 112);
    border: none;
    border-radius: 5px;

}
.navbuttons1 {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.nextbutton1 {
    background-color: rgb(4, 67, 112);
    border: none;
    border-radius: 5px;
    margin-left: 125px;
}

.prevbutton1{
    margin-right: 125px;
}

.nextbutton1:hover, .prevbutton1:hover{
    background-color:  rgb(14, 104, 169);
}

.nextbutton1:active, .prevbutton1:active{
    border: 2px solid #7190c6;
}
@media only screen and (max-width:800px){
    .grid-container1{
        grid-template-columns: 1fr;
    }
    .navbuttons1 {
        justify-content: center; 
        
    }

    .nextbutton1 {
        margin-left: 180px;
    }
}

.sprofile{ 
    display:block;
    margin: 20px 100px;
}

.sbuttons{
    display: block;
    margin: 15px 10px;
    min-height: 35px;
    height: auto;
    
}

.stubutton::after{
    content: "";
    display: table;
    clear: both;
}
.studetails{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    height: auto;
    
}

.sdetails{
    display: flex;
    height: auto;
    min-height: 220px;
    width: 100%;
    max-width: 100%;
    border: 0.1px solid #3C445C;
    border-radius: 10px;
    margin: 0px;
    position: relative;
    background-color: #070b13 ;   
    z-index: 2;
 }
 
.probackground{
    display: block;
    position: absolute;
    top: 0px;
    height: 105px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    background-color:rgb(4, 67, 112);
}

.sphoto{
    display: block;
    position: absolute;
    background-color: #141e2f;
    top: 20px;
    left: 20px;
    height:150px;
    width: 150px;
    overflow: hidden;
    border: 4px solid beige;
    border-radius: 50%;
    background-color: #cfcfcf;
    flex-shrink: 1;
}

.sname{
    position: absolute;
    top: 190px;
    left:20px ;
    overflow: hidden;
}

.sname p{
    color:#a6a5a5;
}

.sprojects{
    display: block;
    margin: 10px;
    border-left: 2px solid #505b7b;
    /* border-radius: 10px; */
    height: auto;
    min-height: 250px;
    width: 430px;
    color: #a6a5a5;
    background-color: #070b13;
    z-index: 1;
}

.sprojectdetails{
    color: #a6a5a5;
    margin: 20px;
    padding: 5px 10px;
}
.sprojectdetails p{
    color: rgb(245, 235, 235);
}

@media only screen and (max-width:900px){
    .studetails{
        flex-direction: column;
    }
    .sdetails{
        width: 100%;
        margin: 10px 0px;
    }
    .sprojects{
        width: 100%;
        height: auto;
        min-height: 10px;
        margin: 0px;
    }
    
}
@media only screen and (max-width:600px){
    .sdetails{
        min-height: 300px;
        height: auto;
        min-width: 320px;
    }
    .sbio{
        min-width: 320px;
    }
    .stuskill{
        min-width: 320px;
    }
    .sprojects{
        min-width: 320px;
    }
    .project-card1{
        min-width: 320px;
    }
}
@media only screen and (max-width:420px){
    .sdetails{
        min-height: 300px;
    }
}
.sbio{
    /* display: flexbox; */
    margin: 5px 15px 10px 10px;
    border: 0.1px solid #3C445C;
    border-radius: 10px;
    padding: 5px;
    height: auto;
    min-height: 20px;
    background-color: #141e2f;
    flex-wrap: wrap;
}

.stubio{
    display: flex;
    color: #a6a5a5;
    margin: 3px;
    padding: 2px 5px;
}


.stuskill{
    background-color: #141e2f;
    margin: 15px 10px;
    padding: 5px;
    border: 0.1px solid #3C445C;
    border-radius: 10px;
    height: auto;
    min-height: 5px;
}

.sskill{    
    color: #a6a5a5;
    margin: 3px;
    padding: 2px 5px ;
}

.spro{
    margin: 15px 10px;
}
.spro1{
    margin: 3px;
    padding: 2px 5px;
    color: #f2f0f0 ;
}

.project-card1{
    height: 200px;
    background-color: #141e2f;
    /* border: 0.1px solid  #3C445C; */
    border-radius: 10px;  
    color:#a6a5a5;
    margin: 15px 10px;
    border: 0.1px solid  #3C445C;
}

.project-card1:hover{
    border-color: #4e5569;
}
.project-card1:active{
    border-color: #0053A6;

}

.cardpart1{
    display: flex;
}

.profile-picture1{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
    display: flex;
}

.pdiscript1{
    width: 100%;
    max-height: 140px;
    border-top-right-radius: 20px;
    overflow: hidden;
    padding: 10px;
    padding-left: 0px;
}

.pname1 p{
    color: #cfcfcf;
    height: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.ourprojectdetails{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: scroll;
}
.projectvideo{
    /* display: flex; */
    height: 100vh;
    width: 3800px;
    margin: 3px;
    border: 2px solid  #3C445C;
    overflow: none;
}
.ourproname{
    /* display: block; */
    min-width: 380px;
    min-height: 900px;
    /* height: auto; */
     overflow-y: auto; 
}
.work{
    margin: 3px;
    /* border: 2px solid  #3C445C; */

}
.gettingprodetail{
    display: flex;
    flex-direction: row;
    color: #cfcfcf;
    margin: 10px;
    align-items: center;
}

.getphoto{
    height: 50px;
    width: 50px;
    margin: 2px;
    border: 0.1px solid #3C445C;
    border-radius: 3px;
    background-color: #cfcfcf;
}

.getphoto img{
    height: 50px;
    width: 50px;
    border-radius: 3px;
}
.getproname{
    font-size: 22px;
    color: #fcfcfcf4;
    margin: 4px 6px;
}

.gettingstudetails{
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}

.getstuphoto{
    height: 30px;
    width: 30px;
    margin: 2px;
    border: 0.1px solid #3C445C;
    border-radius: 50%;
    background-color: #cfcfcf;
}

.getstuname{
    font-size: 19px;
    color:#fcfcfcf4 ;
    margin: 4px;
}

.gettingdate{
    font-size :16px;
    color: #a6a5a5;
    margin: 13px;
    align-items: center;
}

.gettingdescription{
    font-size: 18px;
    color: #f8f8f8;
    margin: 13px;
    padding-bottom: 10px;
    border-bottom: 2px solid #3C445C;
}

.commentsection{
    display: flex;
    flex-direction: column;
}

.noofcomment{
    color: #cfcfcf;
    margin: 6px 13px;
    font-size: 18px;
}

.thereal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px;
    
}

.commentinput{
    height: 40px;
    width: 100%;

}

.decide{
    display: flex;
    flex-direction: row;
    margin: 13px;

}

/* .decide p{
    color: #cfcfcf;
} */
.personcomments{
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-shrink: 0;
    outline: none;
    min-height: 0px;
    min-width: 0px;  
    overflow-wrap: break-word; 
}

.commentdetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.commentpic{
    height: 30px;
    width: 30px;
    border: 1px solid #3C445C;
    border-radius: 50%;
    margin: 2px;
}

.slectimage{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.commentname{
    font-size: 20px;
    color: #cfcfcf;
    margin: 4px 6px;
}

.commentdate{
    font-size: 10px;
    color: #cfcfcf;
    margin-left: 5px;
}

.realcomment{
    color: #cfcfcf;
    font-size: 15px;
    margin: 13px 13px 52px 13px;
}

@media only screen and (max-width:1100px){
    .ourprojectdetails{
        flex-direction: column;
    }
    .projectvideo{
        width: 100%;
        height: calc(40vh-10vw);
    }
    .ourproname{
        width: 100%;
        min-width: 0px;
        height: auto;
    }
}
@media print {
    .no-print {
        display: none !important;
    }
}
.pbox{
    
    box-sizing: content-box;
    border: 2px solid rgb(7, 90, 149);
    border-radius: 10px;
    max-width: 220px;
    max-height: 2000px;
    background-color: rgb(33, 32, 32);
    position:absolute ;
    right: 0;
    z-index: 999;
    display: none;
    top:60px;
    
    /* left: 100%; */
    /* box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3); */

}
.para p{
    color: rgb(200, 200, 207);

}
.two{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    padding-right: 5px;

}
.two p{
    display: block;
    padding-left: 10px;
    color: rgb(236, 236, 242);
}
.two:hover{
    background-color: rgb(70, 71, 71);
    color: rgb(236, 236, 242);
}
.pp{
    margin-left: 10px;
}
.pphoto{
    /* display: block; */
    background-color: rgb(173, 186, 194);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 10px; */
}
.profileset-icon1 {
    font-size: 40px; 
    color: rgb(4, 67, 112); 
}
.pelement{
    display: block;

    /* text-align: center;
 */
}
.para{
    margin: 0px;
    padding: 5px 0px;


}

.logout{
    margin: 0px;
    padding: 5px 0px;


}
.para p{
    margin-left: 10px;
}
.para:hover{
    background-color: rgb(70, 71, 71);
    /* color: blue; */
  

}
.logout:hover{
    background-color: rgb(70, 71, 71);
    /* color: blue; */
  

}
.fas fa-sign-out-alt{
    font-size: 26px;
    color: aliceblue;
}
.logout p{
    margin-left: 10px;
    color: rgb(236, 236, 242);
}
/* newcss */
#sider4{
    background-color: #0E1525;
    border-right: 5px solid rgb(6 31 48);
    min-width:  190px;
}

#option{
    height:40px;
    background-color:#0E1525;
    margin: 8px;
    border: 1px solid rgb(63, 83, 99);
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    display: flex;
}



#sider4 p{
    text-align: center;
    color: aliceblue;
    margin-top:10px;
}

#option:hover{
    border:1.5px solid rgb(37, 101, 147) ;

}

#option:active{
    border:2.5px solid rgb(37, 101, 147) ;
}
.dash1{
    /* margin-top: 10px; */
    margin-left: 8px;
}
.hidden{
    display: none;
}
.parentcontainer{
    display: flex;
    flex-direction: row;
}

.hrbcon{
    display: flex;
    flex-direction: row;
}
.blur-background
{
    filter: blur(1.6px);
}
.unblurred-content
{
    filter:blur(0) !important;
}

.notfoundvid{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 38%;
    left: 50%;
    justify-content: center;
}

.nothingherep{
    font-size: 15px;
    color: aliceblue;
}