.ourprojectdetails{
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    margin: 0px;
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    flex-direction: column;
    /* border: 2px solid white; */
}

.opbuttons{
    height: 55px;
    display: block;
    color: aliceblue;
}

.opbtn{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
}

.opbuttons p{
    border: 0.1px solid #2a2f3e;
    border-radius:10px ;
    padding: 10px;
}

.opbuttons p:hover{
    border-color: #4e5569;
}

@media  screen and (min-width: 1024px) {
    .opprojects{
        height: calc(100vh - 180px);
        flex-direction: row;

    }
    
    
}

    

.opprojects{
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-basis: auto;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    /* flex-grow: 1; */
    width: 100%;
    outline: none;
    /* border: 2px solid white; */
}

.opdiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    align-items: stretch;
    overflow: hidden;
    box-sizing: border-box;
    gap: 10px;
}
@media  screen and (min-width: 1024px) {
    .opimvid{
        width: 800px;

    }
    
    
}
/* @media  screen and (min-width: 480px) {
    .opimvid{
        display: flex;

    }
    
    
} */
@media screen  and (max-width: 1024px){
    .opprojects{
        display: block;
        /* flex-direction: column;
        height: auto; */
    }

    .opprojectvideo {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width) */
        overflow: hidden;
    }
    
    .opprojectvideo video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .opdiv{
        flex-direction: column;
        overflow: auto;
    }
    .opimvid{
        width: 100%;
    }

}

.opprojectvideo video{
    max-width: 780px;
    width: auto;
    height: 400px;
    margin-top: 20px;
}

.opimvid{
    margin-left: 30px;
    align-items: stretch;
    box-sizing: border-box;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    /* border-right: 2px solid  #3C445C; */
    height: 100%;
    overflow-y: auto;
    margin-right: 5px;
}

.opimvid::-webkit-scrollbar {
    width: 6px;
  }
  
.opimvid::-webkit-scrollbar-thumb {
    background-color: rgb(34, 53, 69);
    border-radius: 6px;
  }
  
.opimvid::-webkit-scrollbar-track {
    background-color: #1c2333;
    border-radius: 8px;
}

@media  screen and (min-width: 1024px) {
    .opdetail{
        flex-grow: 1;

    }
    
    
}
@media  screen and (min-width: 480px) {
    .opdetail{
        display: flex;

    }
    
    
}

.opdetail{
    align-items: stretch;
    box-sizing: border-box;
    flex: 1;
    /* flex-basis: auto; */
    flex-direction: column;
    /* flex-shrink: 0; */
    border: 2;
    overflow-y: auto;
    /* word-wrap: break-word; */

}
.opdetail::-webkit-scrollbar {
    width: 6px;
  }
  
.opdetail::-webkit-scrollbar-thumb {
    background-color: rgb(34, 53, 69);
    border-radius: 6px;
  }
  
.opdetail::-webkit-scrollbar-track {
    background-color: #1c2333;
    border-radius: 8px;
}

.opprojectname{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: aliceblue;
    margin: 13px;
    align-items: center;
    /* width: 100%; */
}
.oppic{
    height: 60px;
    width: 60px;
    border: 2px solid white;
    border-radius: 50%;

}.oprealpro{
    margin-left: 10px;
    font-size: 29px;
    color: #3f82c5;
}

.oppostedby{
    margin: 13px;
    color: #f8f8f8;
    font-size: 23px;
}
.gettingdate{
    font-size :20px;
    color: #d5d2d2;
    margin: 13px;
    align-items: center;
    box-sizing: border-box;
}



.opnlikes{
    font-size: 18px;
    color: #9c9696;
    margin-left: 20px;
}
.gettingdescription{
    font-size: 15px;
    color: #f8f8f8;
    margin: 13px;
    padding-bottom: 10px;
    border-bottom: 2px solid #3C445C;
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
}

.opfolder{
    display: flex;
    margin: 13px;
    color: #f8f8f8;
    font-size: 18px;
    
    align-items: center;
}

.opfolder :hover{
    border: 1px solid white;
}

.opfolder p{
    border: 0.5px solid #3C445C;
    border-radius: 10px;
    padding: 10px ;
}

.opfolder p span{
    size: 20px;
}
.ourdomain{
    border-top: 2px solid #3C445C;
    color: #f8f8f8;
    margin: 13px;
    font-size: 16px;
}

.ourdomain p{
    margin-top: 10px;
}

.ourtechnology{
    color: #f8f8f8;
    margin: 13px;
    font-size: 16px;
}

.studentsworking{
    color: #f8f8f8;
    margin: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3C445C;
    box-sizing: border-box;
}

.names{
    margin: 5px;
    padding: 10px 20px;
    border: 0.3px solid #3C445C;
    border-radius: 5px;
    height: auto;
}

.names:hover{
    border-color: #4e5569;
}

.names:active{
    border-color: #0053A6;
}

.commentsection{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.noofcomment{
    color: #cfcfcf;
    margin: 6px 13px;
    font-size: 18px;
}

.thereal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px;
    
}
.thereal input[type="text"] {
    /* Basic styling */
    padding: 10px;
    /* width: 100%; */
    box-sizing: border-box;
    border: 5px solid rgb(4, 67, 112);
    border-radius: 5px;
    margin-bottom: 10px;
  
    /* Typography */
    font-size: 14px;
    color: #333;
  
    /* Placeholder text */
    ::placeholder {
      color: #999;
    }
  
    /* Focus state */
    :focus {
      border-color: #4a90e2;
      outline: none; /* Remove default outline */
    }
  }
  

.commentinput{
    height: 40px;
    width: 100%;

}

.decide{
    display: flex;
    flex-direction: row;
    margin: 13px;
    justify-content: flex-end;
    
    color: #f8f8f8;

}

.decide :hover{
    border: 1px solid rgb(128, 195, 242);
}

.decide button{
    background-color: rgb(4, 67, 112);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: #f8f8f8;
    font-size: 15px;
}
.personcomments{
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-shrink: 0;
    outline: none;
    min-height: 0px;
    min-width: 0px;  
    overflow-wrap: break-word; 
}

.commentdetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    
}

.letcomdetails{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentpic{
    height: 30px;
    width: 30px;
    border: 1px solid #3C445C;
    border-radius: 50%;
    margin: 2px;
}

.slectimage{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.slectimage5{
    height: 31.33px;
    width: 31.33px;
    border-radius: 50%;
}

.commentname{
    font-size: 20px;
    color: #cfcfcf;
    margin: 4px 6px;
}

.commentdate{
    font-size: 10px;
    color: #cfcfcf;
    margin-left: 5px;
}

.deletecommentbut{
    color: #cfcfcf;
}

.realcomment{
    color: #cfcfcf;
    font-size: 15px;
    margin: 13px 13px 52px 13px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.threedots{
    position: relative;
}

.deletenamebut{
    /* display: hidden; */
    position: absolute;
    top: 10px;
    font-size: 14px;
    right: 15px;
    white-space: nowrap;
}

/* .opprojectvideo video{
    width: -webkit-fill-available;
} */